*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/runConfigurations.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/res/values/credentials.xml

/APP_ENV_DIR
/asl_venv
/video_dump
APP_ENV_DIR/
asl_venv/
dump.csv
dump.json
metadata_dump.csv
metadata_dump.json
clip_dump/
video_dump/

