<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".RecordTheseHands"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RecordTheseHands"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecordTheseHands.Fullscreen">
        <activity
            android:name=".splash.LoadDataActivity"
            android:exported="false" />

        <receiver
            android:name=".upload.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".upload.DataManagerReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name=".upload.SESSION_API_PACKAGE_INSTALLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".splash.HomeScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recording.RecordingActivity"
            android:parentActivityName=".splash.HomeScreenActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="edu.gatech.ccg.recordthesehands.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".splash.PromptSelectActivity"
            android:exported="false" />
    </application>

</manifest>
